<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.maven.mapper.TActionScoreRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springboot.maven.entity.TActionScoreRecord">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="source" property="source" />
        <result column="target_id" property="targetId" />
        <result column="type" property="type" />
        <result column="score" property="score" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, source, target_id, type, score, remark, create_time, modify_time, deleted
    </sql>

</mapper>
