<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.maven.mapper.TExamineLeaveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springboot.maven.entity.TExamineLeave">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="company_id" property="companyId" />
        <result column="process_code" property="processCode" />
        <result column="process_instance_id" property="processInstanceId" />
        <result column="process_title" property="processTitle" />
        <result column="process_create_time" property="processCreateTime" />
        <result column="process_finish_time" property="processFinishTime" />
        <result column="process_status" property="processStatus" />
        <result column="process_result" property="processResult" />
        <result column="form_value_company" property="formValueCompany" />
        <result column="form_value_salary" property="formValueSalary" />
        <result column="form_value_type" property="formValueType" />
        <result column="form_value_start" property="formValueStart" />
        <result column="form_value_finish" property="formValueFinish" />
        <result column="form_value_days" property="formValueDays" />
        <result column="form_value_reason" property="formValueReason" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_name, company_id, process_code, process_instance_id, process_title, process_create_time, process_finish_time, process_status, process_result, form_value_company, form_value_salary, form_value_type, form_value_start, form_value_finish, form_value_days, form_value_reason, create_time, modify_time, deleted
    </sql>

</mapper>
