<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.maven.mapper.TSigninRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springboot.maven.entity.TSigninRule">
        <id column="id" property="id" />
        <result column="company_id" property="companyId" />
        <result column="dept_id" property="deptId" />
        <result column="center_lng" property="centerLng" />
        <result column="center_lat" property="centerLat" />
        <result column="center_name" property="centerName" />
        <result column="distance" property="distance" />
        <result column="start_time" property="startTime" />
        <result column="finish_time" property="finishTime" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company_id, dept_id, center_lng, center_lat, center_name, distance, start_time, finish_time, create_time, modify_time, deleted
    </sql>

</mapper>
