<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.maven.mapper.TSigninRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springboot.maven.entity.TSigninRecord">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="company_id" property="companyId" />
        <result column="image_list" property="imageList" />
        <result column="place" property="place" />
        <result column="detail_place" property="detailPlace" />
        <result column="remark" property="remark" />
        <result column="checkin_time" property="checkinTime" />
        <result column="visit_user" property="visitUser" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="status" property="status" />
        <result column="confirm" property="confirm" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_name, company_id, image_list, place, detail_place, remark, checkin_time, visit_user, longitude, latitude, status, confirm, create_time, modify_time, deleted
    </sql>

</mapper>
